---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import {filterPosts, sortByDate} from "../../utils/misc"; // 新增 sortByDate 导入
import Comment from "../../components/Comment.astro";

export async function getStaticPaths() {
	const posts = filterPosts(await getCollection('blog'), {
		filterDraft: true,
		filterUnlisted: false,
	});
	const sortedPosts = sortByDate(posts);
	
	return sortedPosts.map((post, index) => ({
		params: { slug: post.slug },
		props: {
			...post,
			prevPost: sortedPosts[index - 1] || null,  // 新增上一篇
			nextPost: sortedPosts[index + 1] || null
		},
	}));
}

type Props = CollectionEntry<'blog'> & {
	prevPost: CollectionEntry<'blog'> | null; // 新增类型
	nextPost: CollectionEntry<'blog'> | null;
};

const { prevPost, nextPost } = Astro.props; // 新增解构
const post = Astro.props;
const { Content } = await post.render();
const cc = "CC BY-NC-SA 4.0"; // 定义 cc 变量
const config = {
	blog: {
		hostname: "www.linexic.top", // Replace with your blog's hostname
	},
	author: {
		name: "LineXic", // Replace with the author's name
	},
};
---

<BlogPost {...post.data}>
	<Content />
	<div 
	    class="dark:bg-gray-600/30 
		bg-gray-300/30 
		-mx-6 mb-8 
		rounded-3xl 
		p-6 relative 
		overflow-hidden">
		<p 
		class="text-lg 
		font-medium">
		{post.data.title}
	</p>
		<a
			class="text-primary 
			underline 
			dark:text-primary/80"
			href={`https://${config.blog.hostname}/post/${post.slug}`}>
			{`https://${config.blog.hostname}/post/${post.slug}`}</a>
		<div 
		class="mt-1 
		flex-row 
		flex-nowrap 
		justify-start 
		gap-4 flex">
			<div>
				<p 
				class="font-bold 
				row-span-1">
				本文作者
			</p>
				<p 
				class="row-span-1">
					{config.author.name}
				</p>
			</div>
			<div>
				<p 
				class="font-bold 
				row-span-1">
				授权协议
			</p>
				<p 
				class="row-span-2">
					{cc}
				</p>
				<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="text-[180px] absolute -top-8 -right-8 opacity-30"  viewBox="0 0 16 16"><path fill="#cccccc" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.408 5.89c-.83 0-1.318.64-1.318 1.753v.742c0 1.108.479 1.727 1.318 1.727c.69 0 1.138-.435 1.187-1.05h1.147v.114c-.058 1.147-1.029 1.938-2.343 1.938c-1.612 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.75 2.518-2.75c1.319 0 2.29.812 2.343 1.999v.11H6.595c-.049-.638-.506-1.108-1.187-1.108Zm5.404 0c-.831 0-1.319.64-1.319 1.753v.742c0 1.108.48 1.727 1.319 1.727c.69 0 1.138-.435 1.186-1.05h1.147v.114c-.057 1.147-1.028 1.938-2.342 1.938c-1.613 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.75 2.518-2.75c1.318 0 2.29.812 2.342 1.999v.11h-1.147c-.048-.638-.505-1.108-1.186-1.108Z"/></svg>
			</div>
		</div>
	</div>
	<Comment />
	<script>
		import twikoo from "twikoo";
		twikoo({
		  envId: "https://talk.linexic.top/", // your environment ID or url
		  el: "#tcomment", // the container ID which will show the comment
		  lang: "zh-cn", // language for the comment template. for the full list, refer to https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
		}).then(() => {
		  console.log("comment loading success");
		});
	  </script>
	  
	<!-- 
<div>
	<script src="https://giscus.app/client.js"
        data-repo="LineXic/LineXic-blog"
        data-repo-id="R_kgDOOQmiLw"
        data-category="Ideas"
        data-category-id="DIC_kwDOOQmiL84CokoA"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
	</div>
-->
</BlogPost>
